<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button aria-label="Raffraichir">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <button routerLink="add" aria-label="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button aria-label="Supprimer">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.34 €</td>
          <td class="qty">35</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.34 €</td>
          <td class="qty">35</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.34 €</td>
          <td class="qty">35</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.34 €</td>
          <td class="qty">35</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
