<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia
    pariatur similique quis omnis voluptates quam itaque aliquam odio
    perspiciatis cumque ex, beatae hic accusantium adipisci tenetur incidunt non
    perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    pariatur dolor sequi nam repellat quae accusamus molestias fuga. Maiores,
    numquam aliquid! Sit quia veritatis quidem aliquid mollitia nostrum ipsam
    ad! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quae
    soluta illo ratione nisi sed, accusantium omnis cupiditate? Sit architecto
    cum, non veniam amet velit eius enim quis doloribus omnis?
  </p>
</main>
